# Version Control
.git/
.gitignore

# Documentation
documentation/

# Dependencies
node_modules/
__pycache__/

# IDE / Editor files
.vscode/
*.swp
*.swo

.env
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
*.md
tests/
