
.DS_Store
1.Python Basics/.ipynb_checkpoints/4. Big_O_Time_Complexity-checkpoint.ipynb
1.Python Basics/.ipynb_checkpoints/2. Control_Flows_&_Functions-checkpoint.ipynb
1.Python Basics/.ipynb_checkpoints/3. Matplotlib_graphs_plots-checkpoint.ipynb
.AppleDouble
.LSOverride

#Jupyter checkpoints
.ipynb_checkpoints

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


node_modules/.bin/sass
node_modules/.yarn-integrity
node_modules/anymatch/index.d.ts
node_modules/anymatch/index.js
node_modules/anymatch/LICENSE
node_modules/anymatch/package.json
node_modules/anymatch/README.md
node_modules/binary-extensions/binary-extensions.json
node_modules/binary-extensions/binary-extensions.json.d.ts
node_modules/binary-extensions/index.d.ts
node_modules/binary-extensions/index.js
node_modules/binary-extensions/license
node_modules/binary-extensions/package.json
node_modules/binary-extensions/readme.md
node_modules/braces/CHANGELOG.md
node_modules/braces/index.js
node_modules/braces/lib/compile.js
node_modules/braces/lib/constants.js
node_modules/braces/lib/expand.js
node_modules/braces/lib/parse.js
node_modules/braces/lib/stringify.js
node_modules/braces/lib/utils.js
node_modules/braces/LICENSE
node_modules/braces/package.json
node_modules/braces/README.md
node_modules/chokidar/index.js
node_modules/chokidar/lib/constants.js
node_modules/chokidar/lib/fsevents-handler.js
node_modules/chokidar/lib/nodefs-handler.js
node_modules/chokidar/LICENSE
node_modules/chokidar/package.json
node_modules/chokidar/README.md
node_modules/chokidar/types/index.d.ts
node_modules/fill-range/index.js
node_modules/fill-range/LICENSE
node_modules/fill-range/package.json
node_modules/fill-range/README.md
node_modules/fsevents/fsevents.d.ts
node_modules/fsevents/fsevents.js
node_modules/fsevents/fsevents.node
node_modules/fsevents/LICENSE
node_modules/fsevents/package.json
node_modules/fsevents/README.md
node_modules/glob-parent/CHANGELOG.md
node_modules/glob-parent/index.js
node_modules/glob-parent/LICENSE
node_modules/glob-parent/package.json
node_modules/glob-parent/README.md
node_modules/immutable/dist/immutable.d.ts
node_modules/immutable/dist/immutable.es.js
node_modules/immutable/dist/immutable.js
node_modules/immutable/dist/immutable.js.flow
node_modules/immutable/dist/immutable.min.js
node_modules/immutable/LICENSE
node_modules/immutable/package.json
node_modules/immutable/README.md
node_modules/is-binary-path/index.d.ts
node_modules/is-binary-path/index.js
node_modules/is-binary-path/license
node_modules/is-binary-path/package.json
node_modules/is-binary-path/readme.md
node_modules/is-extglob/index.js
node_modules/is-extglob/LICENSE
node_modules/is-extglob/package.json
node_modules/is-extglob/README.md
node_modules/is-glob/index.js
node_modules/is-glob/LICENSE
node_modules/is-glob/package.json
node_modules/is-glob/README.md
node_modules/is-number/index.js
node_modules/is-number/LICENSE
node_modules/is-number/package.json
node_modules/is-number/README.md
node_modules/normalize-path/index.js
node_modules/normalize-path/LICENSE
node_modules/normalize-path/package.json
node_modules/normalize-path/README.md
node_modules/picomatch/CHANGELOG.md
node_modules/picomatch/index.js
node_modules/picomatch/lib/constants.js
node_modules/picomatch/lib/parse.js
node_modules/picomatch/lib/picomatch.js
node_modules/picomatch/lib/scan.js
node_modules/picomatch/lib/utils.js
node_modules/picomatch/LICENSE
node_modules/picomatch/package.json
node_modules/picomatch/README.md
node_modules/readdirp/index.d.ts
node_modules/readdirp/index.js
node_modules/readdirp/LICENSE
node_modules/readdirp/package.json
node_modules/readdirp/README.md
node_modules/sass/LICENSE
node_modules/sass/package.json
node_modules/sass/README.md
node_modules/sass/sass.dart.js
node_modules/sass/sass.default.cjs
node_modules/sass/sass.default.js
node_modules/sass/sass.js
node_modules/sass/sass.node.js
node_modules/sass/sass.node.mjs
node_modules/sass/types/compile.d.ts
node_modules/sass/types/exception.d.ts
node_modules/sass/types/importer.d.ts
node_modules/sass/types/index.d.ts
node_modules/sass/types/legacy/exception.d.ts
node_modules/sass/types/legacy/function.d.ts
node_modules/sass/types/legacy/importer.d.ts
node_modules/sass/types/legacy/options.d.ts
node_modules/sass/types/legacy/plugin_this.d.ts
node_modules/sass/types/legacy/render.d.ts
node_modules/sass/types/logger/index.d.ts
node_modules/sass/types/logger/source_location.d.ts
node_modules/sass/types/logger/source_span.d.ts
node_modules/sass/types/options.d.ts
node_modules/sass/types/util/promise_or.d.ts
node_modules/sass/types/value/argument_list.d.ts
node_modules/sass/types/value/boolean.d.ts
node_modules/sass/types/value/calculation.d.ts
node_modules/sass/types/value/color.d.ts
node_modules/sass/types/value/function.d.ts
node_modules/sass/types/value/index.d.ts
node_modules/sass/types/value/list.d.ts
node_modules/sass/types/value/map.d.ts
node_modules/sass/types/value/number.d.ts
node_modules/sass/types/value/string.d.ts
node_modules/source-map-js/CHANGELOG.md
node_modules/source-map-js/lib/array-set.js
node_modules/source-map-js/lib/base64-vlq.js
node_modules/source-map-js/lib/base64.js
node_modules/source-map-js/lib/binary-search.js
node_modules/source-map-js/lib/mapping-list.js
node_modules/source-map-js/lib/quick-sort.js
node_modules/source-map-js/lib/source-map-consumer.js
node_modules/source-map-js/lib/source-map-generator.js
node_modules/source-map-js/lib/source-node.js
node_modules/source-map-js/lib/util.js
node_modules/source-map-js/LICENSE
node_modules/source-map-js/package.json
node_modules/source-map-js/README.md
node_modules/source-map-js/source-map.d.ts
node_modules/source-map-js/source-map.js
node_modules/to-regex-range/index.js
node_modules/to-regex-range/LICENSE
node_modules/to-regex-range/package.json
node_modules/to-regex-range/README.md
yarn.lock
