
.DS_Store
1.Python Basics/.ipynb_checkpoints/4. Big_O_Time_Complexity-checkpoint.ipynb
1.Python Basics/.ipynb_checkpoints/2. Control_Flows_&_Functions-checkpoint.ipynb
1.Python Basics/.ipynb_checkpoints/3. Matplotlib_graphs_plots-checkpoint.ipynb
.AppleDouble
.LSOverride

#Jupyter checkpoints
.ipynb_checkpoints

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


